@model IEnumerable<Centric_Project.Models.recognitionUser>

@{
    ViewBag.Title = "Leaderboard";
}
<style>
    .well {
        background: rgb(244, 179, 16);
    }
</style>
<div class="well">
<h2>Leaderboard</h2>
    </div>

<table class="table">
    <tr>
        <th>
            Employee
        </th>
        <th>
            Test
        </th>
        <th>
            Award
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.personReceiving.fullName)
        </td>
        <td>
            
        </td>
        <td>
            @ViewBag.Total
        </td>
    </tr>
}

</table>
