
@{
    ViewBag.Title = "Not Authorized";
}

<div class="alert alert-danger">
    <h2>You are not authorized to edit a recogntion that you didn't make!</h2>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
