@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CoreValues";
}

<h2>Core Values</h2>

<div class="row">
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4>Stewardship</h4>
        <p>Practice responsible stewardship</p>
    </div>
    <div class="col-sm-4" style="background-color:orange;">
        <h4>Culture</h4>
        <p>Invest in an exceptional culture</p>
    </div>
    <div class="col-sm-4" style="background-color:lightgrey;">
        <h4>Delivery Excellence</h4>
        <p>Commit to delivery excellence</p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-3" style="background-color:lightgrey;">
        <h4>Innovation</h4>
        <p>Strive to innovate</p>
    </div>
    <div class="col-sm-3" style="background-color:orange;">
        <h4>Greater Good</h4>
        <p>Ignite passion for the greater good</p>
    </div>
    <div class="col-sm-3" style="background-color:lightgrey;">
        <h4>Integrity and Openness</h4>
        <p>Embrace integrity and openness</p>
    </div>
    <div class="col-sm-3" style="background-color:orange;">
        <h4>Balance</h4>
        <p>Live a balanced life</p>
    </div>
</div>